
#features{
  //height: 500px;
  background-color: $kingwhite;

  h3{
    font-size: 30px;
    //font-family: 'Denk One', 'Roboto';
	  font-weight: 400;
	  font-style: normal;
    color: $kingblack;
  }

  p, h4{
    color: $kingblack;
    font-size: 18px;
    padding: 0 350px 0 25px;
    @media (max-width: $breakpoint-cell) {
      padding: 0 0 0 20px;
    }
  }

  span{
    color: $kingblue;
  }

}
