.hero {
  $large-screen: 50em !default;
  align-items: center;
  background-image: url("../images/hero.png");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;


  .hero-content {
    max-width: 20em;
    text-align: center;



  .hero-logo {
    margin: auto;
    height: 500px;
    width: auto;
  }
}
}
