// Nav bar section --MDL

.navLogo {
  height: 40px;
}

// Nav End -----------

// Hero section --Bourbon

.hero {
  $large-screen: 50em !default;
  align-items: center;
  background-image: url("../images/hero_bg.png");
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 65em;
  padding: 2em;


  .hero-content {
    max-width: 20em;
    text-align: center;



  .hero-logo {
    margin: auto;
    height: 500px;
    width: auto;
  }
}
}

// Hero End ----------------------


// Extra Styles

.border_left{
  border-left: 2px solid;
  border-left-color: #1caef5;
  padding-left: 16px;
}

// Extra Styles End ---------------
