// VAR
$kingorange: #e67e22;
$kingblue: #39bfe6;
$kingwhite: #eeeeee;
$kinggray: #505556;
$kingblack: #1c2021;

$breakpoint-tablet: 960px;
$breakpoint-cell: 500px;

// END VAR ------------

// Nav bar section --MDL
.navLogo{
  height: 40px;
}
// Nav End -----------

// Hero section --Bourbon
.section-wrapper{
  padding: 50px 0 50px 0;
}

.hero-wrapper{
  padding-top: 5%;
}

#hero{
  background-image: url("../images/hero_bg.jpg");
  background-size: cover;
  height: 95vh;
  @media (max-width:$breakpoint-tablet) {
    height: auto;
  }
  @media (max-width: $breakpoint-cell) {
    text-align: center;
    background-position: center;
  }

  h1{
    color: $kingorange;
    font-size: 64px;
	  line-height: 73px;
	  //font-family: 'Denk One', 'Roboto';
	  font-weight: 400;
	  font-style: normal;
    margin: 0 0;
  }

  h3{
    font-size: 30px;
  }

  h4{
    font-size: 18px;
  }

  .hero-text{
    padding-top: 25px;
  }

  #mc_embed_signup input.email {
    height: 35px;
    margin-bottom: 5px;
  }

  .phone-img{
    height: 500px;
    width: auto;
    @media (max-width: $breakpoint-cell) {
      padding-bottom: 50px;
    }
  }

}
// Hero End ----------------------

// Form Style override
#mc_embed_signup_scroll{
  text-align: left;
  @media (max-width: $breakpoint-cell) {
    text-align: center;
  }
}
// Form END -----------------------

// Extra Styles
.border_left{
  border-left: 2px solid;
  border-left-color: #1caef5;
  padding-left: 16px;
}
// Extra Styles End ---------------
