// VAR
$kingorange: #e67e22
$kingblue: #39bfe6
$kingwhite: #eeeeee
$kinggray: #505556
$kingblack: #1c2021
// END VAR ------------

// Nav bar section --MDL
.navLogo
  height: 40px
// Nav End -----------

// Hero section --Bourbon
#hero
  background-image: url("../images/hero_bg.png")
  background-size: cover
  height: 100vh

  h1
    color: $kingorange

.hero-text
  padding-top: 50px
// Hero End ----------------------


// Extra Styles
.border_left
  border-left: 2px solid
  border-left-color: #1caef5
  padding-left: 16px
// Extra Styles End ---------------
