#contact-panel{

  h1{
    color: $kingblack;
    margin-top: 25px;
  }
}

#team-panel{

  h1{
    color: $kingblack;
    margin-top: 25px;
  }
}

#faq-panel{

  h1{
    color: $kingblack;
    margin-top: 25px;
  }
}
